{% extends 'base.html.twig' %}

{% block title %}Auction index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h1>Auction index</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>InitialPrice</th>
                        <th>FinalBid</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for auction in auctions %}
                        <tr>
                            <td>{{ auction.id }}</td>
                            <td>{{ auction.name }}</td>
                            {% if auction.description == NULL %}
                                <td>-</td>
                            {% else %}
                                <td>{{ auction.description }}</td>
                            {% endif %}
                            {% if auction.image == NULL %}
                                <td>-</td>
                            {% else %}
                                <td>{{ auction.image }}</td>
                            {% endif %}
                            <td>{{ auction.initialPrice }}€</td>
                            <td>{{ auction.finalBid }}€</td>
                            <td>
                                <a class="mr-5" href="{{ path('auction_show', {'id': auction.id}) }}">show</a>
                                <a href="{{ path('auction_edit', {'id': auction.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('auction_new') }}">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
