{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <h1>Current auctions</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Initial price</th>
                        <th>My bid</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for auction in auctions %}
                        <tr>
                            {% if auction.image == NULL %}
                                <td>-</td>
                            {% else %}
                                <td>{{ auction.image }}</td>
                            {% endif %}
                            <td>{{ auction.name }}</td>
                            {% if auction.description == NULL %}
                                <td>-</td>
                            {% else %}
                                <td>{{ auction.description }}</td>
                            {% endif %}
                            <td>{{ auction.initialPrice }}€</td>
                            <td style="width:100px"><input type="text" id="bidUp{{ auction.id }}" placeholder="Bid Up" style="width: 60px" onkeyup='saveValue(this);'/> €</td>
                            <td>
                                <button class="btn btn-outline-primary" onClick="window.location.reload();">Bid Up</button>

                                <button class="btn btn-outline-danger mt-3" onClick="window.location.reload(); localStorage.clear();">Remove Bid</button>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}